/*=== Custom User Stylesheet for Webkit Web Inspectors
@desc   This Custom User Stylesheet contains styles for the following themes, Solarized Dark and Solarized Light.
@author Roger Steve Ruiz
@email  hi@rogeruiz.com
==================================================*/

@import '_base';

/* Known Bugs
 * ===
 * The !important implementation is necessary on certain styles
 * because the user-agent stylesheet & Custom.css file seem to
 * be at odds when it comes to defining the Web Inspectors tools
 */

/* Elements Panel
 * ===
 * Markup
 */
#elements-content {
  background-color: $base3;
  font-family: $mplus-1m-light;
  font-size: 12px !important;
  font-weight: 100;
  .hovered,
  .selected,
  .selected {
    background-color: $base2;
    color: $base1 !important;
  }
  .highlight {
    color: $base1 !important;
  }
  ol {
    border-left: 1px solid $base2; // tab stop
    .webkit-html-comment {
      color: $base01 !important;
    }
    .webkit-html-doctype {
      color: $base0 !important;
    }
    .webkit-html-attribute .webkit-html-attribute-name {
      color: $base0 !important;
    }
    .webkit-html-attribute .webkit-html-attribute-value {
      color: $green !important;
    }
    .webkit-html-tag {
      color: $base0 !important;
      .webkit-html-tag-name {
        color: $blue !important;
      }
    }
    .webkit-html-text-node {
      color: $base00;
    }
    .webkit-html-css-node {
      .webkit-css-selector {
        color: $base0 !important;
      }
      .webkit-css-property {
        color: $red !important;
      }
      .webkit-css-keyword,
      .webkit-css-number {
        color: $blue !important;
      }
    }
  }
}

/* Elements Panel
 * ===
 * Sidebar
 */
#elements-sidebar {
  background: $base3 !important;
  .source-code {
    background: $base2 !important;
    color: $base0 !important;
  }
  .pane {
    .monospace {
      font-family: $mplus-1m-light;
      font-size: 12px !important;
    }
    .styles-section {
      background: $base3 !important;
      color: $base0;
      &.read-only {
        background: #073642 !important;
        .subtitle {
          background-color: $base3 !important;
          color: $base0 !important;
        }
      }
      .header .subtitle .webkit-html-resource-link {
        background-color: #073642;
        color: $base0 !important;
      }
      .properties {
        .webkit-css-property, .webkit-css-at-rule {
          color: $red !important;
        }
        .value {
          color: $blue !important;
        }
      }
    }
    .info {
      background: $base3 !important;
      color: $base0 !important;
    }
    .section {
      background: $base3;
      .header .title {
        color: $base1;
      }
      .properties {
        color: $blue;
        .name {
          color: $yellow !important;
        }
        .dimmed {
          color: $orange !important;
        }
        .console-formatted-null {
          color: $base01 !important;
        }
        .console-formatted-string {
          color: $green !important;
        }
        .console-formatted-number {
          color: $blue !important;
        }
        .console-formatted-object, .console-formatted-node {
          color: $base0 !important;
        }
        .console-formatted-array {
          color: $magenta !important;
        }
      }
    }
    .metrics {
      background: $base3 !important;
      .label, .top, .left, .right, .bottom {
        color: $base0 !important;
      }
      .margin {
        background: #073642 !important;
        opacity: .95;
        border-color: $base0 !important;
      }
      .border {
        background-color: $base3 !important;
        border-color: $base0 !important;
      }
      .padding {
        background: #073642 !important;
        opacity: .95;
        border-color: $base0 !important;
      }
      .content {
        background-color: $base3 !important;
        color: $base0 !important;
        border-color: $base0 !important;
      }
    }
    > .title, .styles-sidebar-separator {
      background-image: -webkit-gradient(linear, left top, left bottom, from($base3), color-stop(0.05, $base00), color-stop(0.05, $base00), to($base03)) !important;
      color: $base0 !important;
      text-shadow: #073642 0 1px 0 !important;
      border-top: 1px solid #073642 !important;
      border-bottom: 1px solid #073642 !important;
    }
  }
}

/* Resources Panel
 * ===
 * Split View
 */
.panel.resources.visible {
  .split-view.visible {
    .split-view-contents {
      &.sidebar {
        ol {}
        .children {}
        .parent {}
        .frame-storage-tree-item {
          .resource-sidebar-tree-item {
            .base-storage-tree-element-title {}
            &.resources-category-images {}
            &.resources-category-documents {}        
          }
        }
        .database-storage-tree-item {
          .base-storage-tree-element-title {}
        }
        .domstorage-storage-tree-item {
          &.local-storage{}
          &.session-storage {}
        }
        .cookie-storage-tree-item {}
        .application-cache-storage-item {}
      }
    }
  }
}

/* Resources Panel
 * ===
 * Diff Container
 */
.panel.resources.visible {
  .split-view.visible {
    .split-view-contents {
      &.diff-container {
        .resource-view {
          &.image {
            .title {}
            .infoList {
              dt {}
              dd {}
            }
          }
        }
        .storage-view.visible{}
        .script-view {
          .text-editor {
            .text-editor-contents {
              .webkit-line-content {
                .webkit-css-comment {}
                .webkit-css-selector {}
                .webkit-css-property {}
                .webkit-css-keyword {}
                .webkit-css-number {}
                .webkit-html-tag {}
                .webkit-html-attribute-name {}
                .webkit-html-attribute-value {}
                .webkit-javascript-ident {}
                .webkit-javascript-string {}
                .webkit-javascript-number {}
                .webkit-javascript-keyword {}
                .webkit-javascript-regexp {}
              }
            }
          }
        }
      }
    }
  }
}

/* Console Panel
 * ===
 * Console
 */
#console-view {
  background: $base3 !important;
  color: $base0;
  .monospace {
    font-family: $mplus-1m-light;
    font-size: 12px !important; 
  }
  #console-messages .console-group {
    .console-message {
      border-bottom: 1px solid #073642 !important;
      .console-message-text .console-formatted-array {
        color: $magenta;
        .console-formatted-node {
          .webkit-html-comment {
            color: $base01 !important;
          }
          .webkit-html-doctype {
            color: $base0 !important;
          }
          .webkit-html-attribute {
            .webkit-html-attribute-name {
              color: $base0 !important;
            }
            .webkit-html-attribute-value {
              color: $green !important;
            }
          }
          .webkit-html-tag {
            color: $base0 !important;
            .webkit-html-tag-name {
              color: $blue !important;
            }
          }
          .webkit-html-text-node {
            color: $base00 !important;
          }
          .webkit-html-css-node {
            .webkit-css-selector {
              color: $base0 !important;
            }
            .webkit-css-property {
              color: $red !important;
            }
            .webkit-css-keyword, .webkit-css-number {
              color: $blue !important;
            }
          }
        }
      }
      .console-formatted-string {
        color: $green !important;
      }
      .console-formatted-number {
        color: $blue !important;
      }
      .webkit-html-resource-link {
        color: $base0 !important;
      }
      .console-formatted-null {
        color: $base01 !important;
      }
      .console-formatted-string {
        color: $green !important;
      }
      .console-formatted-number {
        color: $blue !important;
      }
      .console-formatted-object {
        color: $violet !important;
        .header .title {
          color: $blue !important;
        }
        .properties {
          color: $blue;
          .name {
            color: $yellow !important;
          }
          .dimmed {
            color: $orange !important;
          }
          .console-formatted-null {
            color: $base01 !important;
          }
          .console-formatted-string {
            color: $green !important;
          }
          .console-formatted-number {
            color: $blue !important; 
          }
          .console-formatted-object, .console-formatted-function {
            color: $violet !important;
          }
          .console-formatted-array {
            color: $magenta !important;
          }
        }
      }
      .console-formatted-function {
        color: $violet !important;
      }
      .console-formatted-array {
        color: $magenta !important; 
      } 
    }
    .console-error-level .console-message-text {
      color: $red !important;
      .console-formatted-object {
        .header .title {
          color: $red !important;  
        }
        .properties {
          color: $blue;
          .name {
            color: $yellow !important;  
          }
          .dimmed {
            color: $orange !important;
          }
          .console-formatted-null {
            color: $base01 !important;
          }
          .console-formatted-string {
            color: $green !important; 
          }
          .console-formatted-number {
            color: $blue !important; 
          }
          .console-formatted-object, .console-formatted-function {
            color: $violet !important; 
          }
          .console-formatted-array {
            color: $magenta !important; 
          }
        }
      }
      .console-formated-node .header .title {
        color: $blue !important; 
      }
    }
    .console-warning-level {
      color: $yellow !important; 
    } 
  }
}

